body {
    text-align: center;
    align: center;
}

#page {
    text-align: left;
    position: relative;
    width: 900px;
    background-color: white;
    margin-left: 0;
    left: 0;
}

#page #content {
    height: 500px;
}
