body, div, td, input, textarea {
    font-family: Georgia, Times New Roman, Times, Serif;
    font-size: 12pt;
    color: #642;
}

a {
    border: 0;
    color: #33c;
}

body {
    background-color: #ccc;
    margin: 0;
    padding: 0;
}

#page {
    position: relative;
    width: 900px;
    height: 100%;
    margin-left: 50%;
    left: -450px;
    background-color: #f0d26e;
    min-height: 600px;
}

#page #header {
    padding: 5px;
}

#page #header #links {
    position: absolute;
    right: 20px;
    top: 60px;
}

#page #header #links ul {
    display: inline;
    list-style: none;
    padding: 0;
}

#page #header #links ul li {
    display: inline;
    border-left: 1px solid #ada57a;
    padding-left: 9px;
    padding-right: 6px;
}

#page #header #links ul li.first {
    border-left: 0;
}

#page #content {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    min-height: 500px;
    background: url(/images/shadow.png) repeat-x 0 0;
    background-color: white;

}

#page #content #flash {
    font-weight: bold;
    color: #fff;
    background-color: #c33;
    padding: 5px;
    margin-bottom: 20px;
}

#page #footer {
    padding: 40px;
    height: 80px;
    font-size: 10pt;
    text-align: center;
    background: url(/images/shadow.png) repeat-x 0 0;
}

.padded-left {
    left-padding: 20px;
}

.padded-right {
    right-padding: 20px;
}

.align-right {
    text-align: right;
}

.input-field {
    width: 200px;
}
